.wrapper {
    --screen-padding: 64px;

    height: 100%;
    display: flex;
    align-items: stretch;
    gap: var(--screen-padding);
    padding: var(--screen-padding);
    max-width: 1800px;
    margin-inline: auto;
}
.wrapper > * {
    flex: 1;
    width: 0;
}
