.form {
    --gap: 16px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.numberWidgetBlock {
    display: flex;
    gap: var(--gap);
}

.numberWidgetBlock > * {
    flex: 1;
    width: 0;
}
