.wrapper {
    position: relative;
    border-radius: var(--rounded);
    padding: 8px;
    background-color: var(--white);
}

.name {
    font-family: var(--font-highlight);
    color: var(--primary);
    font-weight: 700;
}

.quickInfo {
    font-size: 0.725rem;
    color: var(--grey-700);
}

.button {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
