body {
    --primary: #04ac87;
    --bg: #f1edff;
    --white: white;

    --font: 'Quicksand', sans-serif;
    --font-highlight: 'Unica One', serif;

    --rounded: 8px;

    font-family: var(--font);
    background-color: var(--bg);
}
