body {
    --primary: #04ac87;
    --primary-lightest: #cdeee7;
    --secondary: #232ed1;
    --secondary-lightest: #d3d5f6;
    --white: white;
    --grey-700: #334155;

    --font: 'Quicksand', sans-serif;
    --font-highlight: 'Unica One', serif;

    --rounded: 8px;

    font-family: var(--font);
    background-color: var(--white);
}
